<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>シンプルメモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>

    <form action="/memos/new" method="get">
      <button type="submit" class="large-button">新しいメモを作成</button>
    </form>

    <h2>メモ一覧</h2>
    <ul>
      <% @memos.each do |memo| %>
        <li>
          <a href="/memos/<%= memo[:id] %>">
          <%= h(memo[:title]) %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
