<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <img src="/sakura_header.jpeg" alt="桜のヘッダー画像">
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
