<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>新しいメモを作成する</title>
  </head>

  <body>
    <h1>新しいメモを作成する</h1>
    <form action="/memos" method="post">
      <label for="title">タイトル</label>
      <input type="text" id="title" name="title">
      <br><br>

      <label for="content">内容</label>
      <textarea id="content" name="content"></textarea>
      <br><br>

      <button type="submit" class="large-button">保存</button>
    </form>

    <br><br>
    <form action="/memos" method="get">
      <button type="submit" class="large-button">戻る</button>
    </form>
  </body>
</html>
